.App {
  text-align: center;
}

.Main
{
  margin-top: 25px;
  margin-left:25px;
    height: 700px;
    width: 250px;
    background-color: darkgrey;
}
.info
{
  width: 250px;
}
.img
{
  height:200px;
  width:250px;
}
.data
{
  text-align: center;
}
.btn
{
  margin-left: 45px;
  border-radius: 3px;
  background-color: white;
  color: black;
  
}
.about
{
  width:250px;
  margin-top:25px;
}
.interest
{
  height: 100px;
  width:250px;
  margin-top:25px;
}
.footer
{
  margin-top: 45px;
}
.btnicon
{
  height: 16px;
  width: 16px;
}
